<!-- <h1>Favoritos</h1>
<div>
	<% if @favoritos.present? %>
		<% @favoritos.each do |favorito|%>
			<h3><%= favorito.manga.titulo%></h3>
		<% end %>
	<% else %>
		<h2>Não há favoritos</h2>
	<% end %>
</div> -->
<div id="conteudo">
	<div id="cabecalho">
		<div id="cabecalho-pagina">
			<div id="titulo-pagina">Favoritos</div>
			<div id="status-pagina"><%= @favoritos.count %> favoritos</div>
		</div>
		<div id="ver-manga-controles">
			<button id="botao-editar">Editar</button>
			<button id="botao-excluir">Excluir</button>
		</div>
	</div>
	<div id="itens-container-lista">
		<% if @favoritos.present? %>
			<% @favoritos.each do %>
				<div id="manga-item-grade"></div>
			<% end %>
		<% end %>
	</div>
</div>